@use "sass:map";
@use "../variables" as *;
@use "../base" as *;

.topbar-status {
    @include panel-text;
    color: map.get($colors, bar-text);
    background: transparent;
    border-radius: map.get($radii, control);
    padding: 4px 6px;

    image {
        -gtk-icon-size: map.get($controls, icon-size);
    }
}
